@charset "UTF-8";

#container {
	width: 400px;
	min-height: 800px;
	float: left;
	margin: 15px 35px;
	fill:white;
}
#states path {
	fill: #d6d6d6;
	stroke: #6b6b6b;
	stroke-width: 1.5px;
}

#states path:hover {
	fill: #7688ee;
}

#states .active {
	fill: #7688ee;
}

#states .activeDetail {
	fill: #00B700;
}

#states path {
	cursor: pointer;
}

#states text {
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	fill: rgb(39, 39, 41);
}